.carousel {
  padding: $pd-8 0;
  background-image: url(./../../image/yellow_top_wave_01.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  .carousel__content {
    align-items: center;
    .title {
      h3 {
        @include style-text ($fs-2,$fw-3,$color-puple);
      }
      h1 {
        @include style-text ($fs-3,$fw-4,$color-black-1)
      }
    }
  }
}