.contact {
  padding: $pd-3 0;
  background-image: url(./../../image/accent_bottom_wave_01.png);
  @include style-background(100%,bottom center);

  .form {
    background-color: white;
    width: 90%;
    padding: 70px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px $color-light-gray;

    h2 {
      @include style-text($fs-6, $fw-4, $color-black-1);
    }

    input,select,textarea {
      @include style-element-form();
    }

    .icon-name {
      @include style-icon(55%,10%)
    }

    .icon-email {
      @include style-icon(56%,10%)
    }

    .icon-selection {
      @include style-icon(30%,4%)
    }

    .icon-messenge {
      @include style-icon(30%,5%)
    }
  }
}