//Font

$fs-0 : 1rem;
$fs-1 : 0.86rem;
$fs-2 : 1.1rem;
$fs-3 : 3.8rem;
$fs-4 : 0.75rem;
$fs-5 : 1.55rem;
$fs-6 : 2.5rem;
$fs-7 : 0.9rem;
$fs-8 : 0.9em;
$fs-9 : 0.8em;
$fs-10 : 1.25em;

//Font-weight

$fw-0 : 400;
$fw-1 : 300;
$fw-2 : 500;
$fw-3 : 600;
$fw-4 : 700;

//Color

$color-black-1 : #191919;
$color-black-2 : #181818;
$color-light-gray: #302f2f1c;


$color-puple : #b61984;
$color-white : #FFFFFF;
$color-light-white : #ffffff17;

//Padding

$pd-0: 3.3rem;
$pd-1: 0.99rem;
$pd-2: 1.35rem;
$pd-3: 4rem;
$pd-4: 2rem;
$pd-5: 1.3rem;
$pd-6: 1.67rem;
$pd-7: 0.8rem;
$pd-8: 8rem;
$pd-9: 2.8rem;


//Margin:
$mg-0: 0.4rem;
$mg-1: 0.525rem;
$mg-2: 6rem;
$mg-3: 3.3rem;
$mg-4: 0.8rem;
$mg-5: 2rem;
$mg-6: 1rem;

//Width:
$w-0: 5.3rem;


//Height:
$h-0: 5.3rem;


//Border Radius
$b-r-1: 1.67rem;
$b-r-2: 1rem;

//Border

$bd-1 : 1px;
$bd-2 : 2px;