/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html, body {
  font-family: "Oswald",sans-serif;
  color: white;
}

.clear {
  clear: both;
}

.title--black {
  color: black;
  font-size: 3rem;
  font-weight: 400;
}
.title--white {
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.title--p--first--red {
  color: #e62b4a;
  font-weight: 100;
}

.title--p--first--gray {
  color: #888888;
  font-size: 14px;
}

.title--p--last {
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}

/* END GLOBAL */

/* Header */

header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ffffff4a;
  padding: 1.6rem 0;
  background-color: transparent;
  z-index: 10;

}

.header__content {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

}

.header__logo {
  color: white;
  font-weight: bolder;
  text-decoration: none;

}
.i--2rem {
  font-size: 2rem;
}

.span--2rem {
  font-size: 2rem;
}

.menu__content {
  list-style: none;

}

.menu__content--inline {
  display: inline;
  padding: 0 1.7rem;
}

.menu__content--inline a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.7s;
}

.menu__content--inline.active a{
  color: #e62b4a;
}

.menu__content--inline:hover a {
  color: #e62b4a;
}

/* End header */

/* Carousel*/

.carousel {
  background-image: url(../image/home_slider.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__content {
  text-align: center;
}

.carousel__content p {
  font-size: 1.5rem;
}

.carousel__content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.btn__readmore {
  padding: 1rem 1.5rem;
  background-color: #e62b4a;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #e62b4a;
}

.btn__readmore:hover {
  background-color: #af2239;
  transition: all 0.7s;
}


@keyframes arrowDown{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    transition: translateY(40px);
  }
}

.arrow__down {
  animation: arrowDown 1s linear 1s infinite;
  font-size: 2rem;
  margin-top: 50px;
}

/* End Carousel */

/* Service */

.service {
  background-color: black;
  text-align: center;
  padding: 90px 0;
}


.service__slider {
  margin-top: 20px;
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.service__slider .item {
  background-color: white;
  color: #888888;
  width: 13rem;
  height: 15rem;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service__slider .item::after {
  content: '';
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s linear;
}

.service__slider .item:hover::after {
  height: 100%;
}

.item--sizei {
  font-size: 3rem;
}
.item--sizep {
  font-size: 0.9rem;
}

/*Blog*/
.blog {
  text-align: center;
  padding: 90px 0;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap: 30px;
  width: 75%;
  margin: 50px auto 0;
}

.blog__item--img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
  object-fit: cover;
  transition: all 0.5s;
}

.blog__metro1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog__metro10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog__item {
  position: relative;
  overflow: hidden;
}

.blog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(230, 43, 74, 0.6);
}

.blog__item:hover .blog__overlay {
  opacity: 1;
}

.blog__icon {
  top: 25px;
  right: 25px;
  position: absolute;
}

.blog__icon i {
  background-color: white;
  color: black;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  transform: translateY(20px);
  transition: all 0.8s;
}

.blog__icon i:hover {
  background-color: black;
  color: white;
  transition: all 0.8s;
}

.blog__item:hover .blog__icon i {
  transform: translateY(0);
}

.blog__text {
  position: absolute;
  left: 25px;
  bottom: 25px;
  transform: translateY(20px);
  transition: all 0.8s;
}

.blog__text p {
  color: #D0C7C8;
}

.blog__item:hover .blog__text{
  transform: translateY(0);
}

.text-align-left {
  text-align: left;
}
/*End Blog*/

/* Number*/

.number {
  background-color: black;
  padding: 100px 0;
}


.number__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.number__item {
  width: 100%;
}

.number__item--digit {
  font-size: 3.75rem;
  font-weight: 100;

}

.number__item--text {
  font-size: 20px;
  color: #888888;
}

/*End number */

/*Experience*/
.experience {
  text-align: center;
  padding: 100px 0;
  background-image: url(../image/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.experience__content {
  width: 70%;
  margin: 30px auto 0;
}

.experience__video--fix {
  width: 100%;
  object-fit: cover;
  border: none;
  outline: none;
  margin-top: 30px;
  box-shadow: 0 2px 10px 1px rgb(0, 0, 0, 0.5);
}

/* End Experience */

/*Contact*/

.contact {
  padding: 100px 0;
  text-align: center;

}

.contact__content {
  width: 70%;
  margin: 30px auto 0;
}

.contact__mapForm {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.font--weight--p {
  font-weight: 400;
}

.form__item {
  border: 1px solid #888888;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 15px;
  border-radius: 2px;
}

.contact__form {
  width:40%
}

.contact__map {
  width: 60%;
}

.contact__map iframe{
  width: 100%;
}

.btnContact {
  background-color: black;
  color: white;
  padding: 20px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
  margin-bottom: 0;
}

.btnContact:hover {
  background-color: #e62b4a;
}

.form__content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  
}

/* End contact*/

/*Footer*/

footer {
  padding: 100px 0;
  background-color: black;
  
}

.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__icon i {
  font-size: 16px;
}


.backgroud_icon {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: white;
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  text-align: center;
  transition: all 0.5s;
}

.footer__icon a i.backgroud_icon:hover {
  background-color: #e62b4a;
}

.footer__text p {
  font-size: 14px;
}