@mixin style-text($fs, $fw, $color){
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin style-button($py, $px,$bd-r, $bd, $bg-button) {
  padding: $py $px;
  border-radius: $bd-r;
  border: $bd;
  background: $bg-button;
  transition: all 0.3s;
}
