/*GLOBAL*/

body {
  font-size: 16px;
  font-weight: 300;
  color: #212529;
  font-family: "Poppins", sans-serif;
  perspective: 62.5rem;
}

ul li {
  list-style: none;
}

/*Button*/


.btn-sub {
  padding: 1rem 2.5rem;
  background-color: rgba(253, 71, 102, 1);
  color: white;
  border: 2px solid hsla(0, 0%, 100%, .2);
  border-radius: 31.25rem;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
  text-decoration: none;
}

.btn-sub:hover {
  border: 2px solid rgba(253, 71, 102, 1);
  background-color: transparent;
  text-decoration: none;
  color: rgba(253, 71, 102, 1);

}

/*Padding*/

.pt-120 {
  padding-top: 7.5rem;
}

.pb-50 {
  padding-bottom: 3.1rem;
}

.inner {
  padding-top: 0.5rem;
}

/*Color*/

.color-purple {
  color: #31215d
}

.color-red {
  color: rgba(253, 71, 102, 1);
}

.color-blue {
  color: #28337d;
}

.color-lightgreen {
  color: rgb(127, 255, 253);
}

.color-lightblue {
  color: #7aefb4;
}

/*HEADER*/

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header nav.navHeader {
  padding: 1.8rem 3.1rem;
}

ul.menu>li {
  position: relative;
  padding: 1.25rem 0;
  cursor: pointer;
  transition: all 0.5s;
}


ul.menu>li>a {
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem;
  color: white;
  margin-right: 1rem;
}

.logo img {
  max-height: 3.75rem;
}

.btn-default {
  padding: 1rem 2.5rem;
  background-color: transparent;
  color: white;
  border: 2px solid hsla(0, 0%, 100%, .2);
  border-radius: 31.25rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-default:hover {
  background-color: rgba(253, 71, 102, 1);
}


.menu li a:hover {
  color: rgba(253, 71, 102, 1) !important;
}


li.has-dropdown ul.submenu {
  position: absolute;
  box-shadow: 0 0 2.2rem rgb(0 0 0 / 10%);
  z-index: -2;
  top: 100%;
  left: 20%;
  background-color: white;
  visibility: hidden;
  border-radius: 3px;
  padding: 0.6rem;
  min-width: 15rem;
}

li.has-dropdown ul.submenu li {
  list-style: none;
  border-radius: 0.25rem;
  height: auto;
  text-align: left;
  padding: 0.3rem 0.6rem;
  margin-right: 0;
}

li.has-dropdown .submenu li a {
  color: black;
  font-size: 0.875rem;
  font-weight: 400;

}

li.has-dropdown:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  z-index: 1;

}

li.has-dropdown ul.submenu li:hover {
  background-color: rgba(253, 71, 101, 0.114);
}

li.has-dropdown ul.submenu a:hover {
  text-decoration: none !important;
}

.hearder__btn button.btn-default {
  width: 50%;
  height: 50%;
}

button.navbar-toggler span i {
  color: white;
}


.head__popUp {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popUp {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.popUp img {
  width: 50%;
}


#navMobile {
  width: 70%;
  height: 100vh;
}

.card-body {
  padding: 0.5rem 1rem;
}

.card-body li {
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 0.4rem;
  margin-left: 1.5rem;
}

.card-body li a {
  color: black;
  border-radius: 0.25rem;
  height: auto;
  text-align: left;
  margin-right: 0;
  transition: all 0.5s;
  padding: 0.3rem 0.4rem;
}

.card-body li a:hover {
  background-color: rgba(253, 71, 101, 0.114);
  text-decoration: none;
  color: rgba(253, 71, 102, 1);
}

.card-header h2 button {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
}

.card-header h2 button.drowDown::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.45rem 0.45rem 0 0.45rem;
  border-color: #1f1f25 transparent transparent transparent;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s
}


.card-header h2 button:hover {
  color: rgba(253, 71, 102, 1);
  text-decoration: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border: none;
  background-color: white;
}

.card-header button {
  border: none;
}

.card-header .show h2:first-of-type {
  color: rgba(253, 71, 102, 1);
}

.card-header h2 button[aria-expanded="true"]::before {
  transform: rotate(3.142rad);
  border-color: rgba(253, 71, 102, 1) transparent transparent transparent;
}

.card {
  border: none;

}

.card-header button.btn-link {
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);

}

span.closeTrigger {
  font-size: 1.3rem;
}
/*CAROUSEL*/

.carousel-container {
  position: relative;
  z-index: 0;
}


.carousel__content .carousel-item>div {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  padding-top: 2.5rem;
}

.carousel-item img {
  filter: brightness(80%);
  height: 90vh;
}

.animation-fadeIn {
  animation: fadeIn 1.5s;
}

.carousel h1.title {
  font-size: 6.25rem;
  font-weight: 900;
  letter-spacing: 2px;
  animation: fadeInUp 1s;
}

.carousel p.description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 10%;
  font-weight: 200;
  animation: fadeInUp 1s 0.2s;
}

.slide-btn a {
  margin-top: 1.8rem;
  animation: fadeInUp 1s 0.4s;
}

#carouselPrimary ol {
  padding-bottom: 2.5rem;
}


#carouselPrimary ol li {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  margin-right: 0.93rem;
}

#carouselPrimary ol li.active {
  border: 2px solid rgba(253, 71, 102, 1);
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border-color: transparent;
}

.btn-pre,
.btn-next {
  font-size: 1.87rem;
  width: 4.37rem;
  height: 4.37rem;
  text-align: center;
  line-height: 4.37rem;
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, .4);
  color: hsla(0, 0%, 100%, .4);
  transition: all 0.5s;
  transform: translateX(0);
}

.btn-pre:hover {
  background-color: rgba(253, 71, 102, 1);
  border: 2px solid rgba(253, 71, 102, 1);
  transform: translateX(-1.87rem);
}

.btn-next:hover {
  background-color: rgba(253, 71, 102, 1);
  border: 2px solid rgba(253, 71, 102, 1);
  transform: translateX(1.87rem);
}


/*SERVICE*/

.section__title {
  text-align: center;
  margin-bottom: 1.87rem;
}

.section__title span {
  font-weight: 600;
  letter-spacing: 0.5px;
  background: linear-gradient(120deg, #1c99fe 20%, #7644ff 51%, rgba(253, 71, 102, 1) 81%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  margin-bottom: 0.75rem;
}

.section__title h2 {
  font-size: 3.12rem;
  font-weight: 600;
  margin-bottom: 1.25rem;

}

.section__title p {
  color: rgb(29 29 36 / 75%);
  font-size: 1.1rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.service__item {
  padding: 1.87rem 2rem;
  border-radius: 0.31rem;
  background-color: rgba(29, 29, 36, .05);
  transform: translateY(0);
  transition: all 0.5s;
  margin-bottom: 1.87rem;
}

.service__item:hover {
  transform: translateY(-0.6rem);
}

.icon i {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.service__content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.service__content p {
  color: rgba(29, 29, 36, .5)
}

/*PROJECT*/

.project {
  background-color: rgba(221, 208, 208, 0.206);
}

.card-primary {
  position: relative;
  transition: all 0.5s;
  padding-top: 140%;
  margin-bottom: 1.87rem;

}

.card-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  transition: all 0.5s;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  transform: translateY(1.25rem);
  transition: all 0.5s;
  z-index: 2;
}

.card-text p {
  color: rgba(255, 255, 255, 0.568);
}

.card-text :last-child {
  opacity: 0;
  transition: all 0.5s;
}

.card-primary:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0 1.56rem 3.43rem rgb(253 71 102 / 22%)
}

.card-primary:hover .card-bg img {
  transform: translateZ(12.5rem)
}

.card-primary:hover .card-text {
  transform: translateY(-1.25rem);
}

.card-primary:hover .card-text :last-child {
  opacity: 1;
}

.card-primary::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
  z-index: 1;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  border-radius: 0.6rem;
}

.card-primary::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  z-index: 1;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(253, 71, 102, 1)100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
  border-radius: 0.6rem;
}

.card-primary:hover::after {
  opacity: 1;
}

/*ABOUT*/

.about__left {
  height: 35rem;
}

.about__left img {
  width: 100%;
  border-radius: 0.6rem;
  height: 100%;
}

.about .nav {
  border: 1px solid rgba(144, 144, 144, 0.349);
  border-radius: 1.25rem;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
  padding: 0;
}

.nav-tabs .nav-link {
  padding: 0.6rem 1.25rem;
  margin-right: 0.31rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: rgba(253, 71, 102, 1) !important;
  color: white;
  font-weight: bold;
  border-radius: 1.25rem;
  padding: 0 -1.25rem;
  border: none;
  overflow: hidden;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: white;
  color: rgba(31, 30, 30, 0.723);
  border-radius: 1.25rem;
  padding: 0 -1.25rem;
  border: none;
}

.tab__detail {
  width: 100%;
  height: 18.75rem;
  padding-top: 1.87rem
}

.tab__detail p {
  font-size: 1.1rem;
  color: #717173;
  font-weight: 300;
  line-height: 1.87rem;
}

#history .tab__detail li {
  list-style: none;
  margin: 0.6rem 0;
  color: #717173;
}

#history .tab__detail i {
  color: rgba(253, 71, 102, 1);
  font-size: 1.1rem;
  margin-right: 0.6rem;
}

#history .tab__detail h3 {
  font-size: 1.4rem;
  font-weight: 500;
}


#mission .tab__detail {
  width: 100%;
}

/*POST*/

.card-text-2 {
  left: 1.25rem;
  text-align: left;
}

.card-text-2 h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.card-text-2 button {
  text-transform: uppercase;
  color: white;
  border: 2px solid rgba(165, 164, 164, 0.411);
  background-color: transparent;
  padding: 0.31rem 1.25rem;
  border-radius: 0.31rem;
  font-size: 0.875rem;
}

/*TESTIMONIAL*/

.testimonial {
  background-color: rgba(221, 208, 208, 0.206);
}


.testimonial__left h3 {
  line-height: 3.12rem;
  font-size: 1.87rem;
  font-weight: 500;
  margin-bottom: 1.87rem;
}

.testimonial__left span:first-of-type {
  font-size: 1.1rem;
  color: rgba(253, 71, 102, 1);
  font-weight: 500;
}

.testimonial__left span:last-of-type {
  font-size: 1.1rem;
  color: #8c8c8c;
  font-weight: 300;
}

.testimonial__right .thumb {
  margin-bottom: 1.8rem;
  position: relative;

}

.testimonial__right .thumb img {
  border-radius: 0.31rem;
  transition: all 0.5s;
  width: 100%;
}

.testimonial__right .thumb::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.31rem;
  opacity: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
}


.testimonial__right a.active .thumb::after {
  opacity: 0;
}

.testimonial__right a.active .thumb {
  transform: scale(1.1);
}

.testimonial__right .nav-tabs {
  border: none;
}

.testimonial-thumb-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}



/*CLIENTS*/
.clients {
  background-color: rgba(221, 208, 208, 0.206);
}

.clients__item {
  width: 100%;
  border: 0.5px solid rgba(199, 198, 198, 0.523);
  padding-left: 0;
  position: relative;
  z-index: 1;

}

.clients__item li {
  list-style: none;
  border: 0.5px solid rgba(199, 198, 198, 0.523);
  padding: 2.5rem 3.12rem;
  transition: all 0.3s;
}

.clients__item img {
  position: relative;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clients__item li:hover {
  cursor: pointer;
  background-color: rgba(253, 71, 102, 1);
  border-radius: 0.31rem;
  transform: scale3d(1.09, 1.09, 1.09);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

/*FOOTER*/
footer {
  background-color: black;
}

.footer__top {
  border-bottom: 1px solid rgba(81, 81, 90, 0.75);
  padding-bottom: 3.12rem;
}

.footer__top h2 {
  color: white;
}

.footer__bottom {
  padding: 3.12rem 0;
}

.footer__logo img {
  width: 40%;
  margin-bottom: 3.12rem;

}

.footer__logo p {
  color: hsla(0, 0%, 100%, .4);
  font-weight: 300;
}

.footer__bottom li {
  list-style: none;
  margin-bottom: 0.93rem;
  color: hsla(0, 0%, 100%, .4);
  position: relative;
  transition: all 0.5s;
}

.footer_menu li::after {
  content: "";
  height: 1px;
  width: 0;
  background-image: linear-gradient(273deg, #ff3c63 0%, #784BA0 50%, #2B86C5 100%);
  position: absolute;
  bottom: -0.31rem;
  left: 0;
  opacity: 0;
  transition: all 0.5s;

}

.footer_menu li:hover {
  color: rgba(253, 71, 102, 1);
  cursor: pointer;
}

.footer_menu li:hover::after {
  opacity: 1;
  width: 65%;
}

.footer__bottom ul {
  padding: 0;
}

.footer__bottom h3 {
  color: white;
  margin-bottom: 1.87rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.pl-70 {
  padding-left: 60px;
}

.footer__contact li a {
  color: hsla(0, 0%, 100%, .4);
}

.footer__contact li.mail-tel a::after {
  content: "";
  height: 1px;
  width: 0%;
  background-image: linear-gradient(273deg, #ff3c63 0%, #784BA0 50%, #2B86C5 100%);
  position: absolute;
  bottom: -0.31rem;
  left: 45%;
  opacity: 0;
  transition: all 0.5s;
}

.footer__contact li.mail-tel:hover a {
  color: rgba(253, 71, 102, 1);
  text-decoration: none;
}

.footer__contact li:hover a::after {
  width: 100%;
  opacity: 1;
}

.icon-brand {
  width: 50%;
}

.footer__contact .icon-brand li a i {
  transition: all 0.5s;
}

.icon-brand li a i {
  color: hsla(0, 0%, 100%, .6);
}

.footer__contact .icon-brand li a:hover i {
  transform: translateY(-0.31rem);
  color: white;
}

.ft-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__contact .mail-tel,
.footer__contact .icon-brand {
  display: flex;
}

.footer__contact .mail-tel span {
  margin-right: 4px;
}

.footer__contact .icon-brand li {
  margin-right: 1rem;
}

a.backToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: rgba(253, 71, 102, 1);
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  border: 2px solid rgba(253, 71, 102, 1);
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}
/*REPONSIVE*/

@media screen and (max-width:1200px) {
  body {
    font-size: 15px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    padding: 0.5rem 0.8rem;
  }

  .service__item h3 {
    font-size: 1.1rem;
  }

  .ft-text {
    padding-left: 3.75rem;
  }
}


@media screen and (max-width:992px) {

  .inner {
    padding-top: 2rem;
  }

  .carousel h1.title {
    font-size: 4.3rem;
  }

  .carousel p.description {
    font-size: 1.4rem;
  }

  .section__title p {
    font-size: 1rem;
  }

  .section__title h2 {
    font-size: 1.5rem;
  }

  .service__item .content h3 {
    font-size: 1.3rem;
  }

  .ft-text {
    padding-left: 3.75rem;
  }

  .btn-pre,
  .btn-next {
    opacity: 0;
    visibility: hidden;
  }
}


@media screen and (min-width:576px) and (max-width:768px) {
  body {
    font-size: 14px;
  }

  .inner {
    padding-top: 2rem;
  }

  .carousel h1.title {
    font-size: 4rem;
  }

  .carousel p.description {
    font-size: 1.2rem;
  }

  .ft-text {
    padding-left: 3.75rem;
  }

  .carousel-item img {
    height: 70vh;
  }

  .carousel h1.title {
    font-size: 3.5rem;
  }

  .carousel p.description {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .slide-btn a {
    margin-top: 0.5rem;
  }

  #carouselPrimary ol {
    padding-bottom: 0;
  }


  #carouselPrimary ol li {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.8rem;
  }

  #carouselPrimary ol li.active {
    width: 0.5rem;
    height: 0.5rem;
  }

  .btn-pre,
  .btn-next {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width:768px) {

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    padding: 0.4rem 1rem;
  }

  .inner {
    padding-top: 2rem;
  }
}


@media screen and (max-width:576px) {
  body {
    font-size: 12px;
  }

  .inner {
    padding-top: 2rem;
  }

  .pt-120 {
    padding-top: 4rem;
  }

  .pv-50 {
    padding-bottom: 2rem;
  }

  .section__title p {
    font-size: 0.8rem;
  }

  .section__title h2 {
    font-size: 1.3rem;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    padding: 0.3rem 0.6rem;
  }

  .tab__detail p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .testimonial__left h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .testimonial__left span {
    font-size: 1.2rem;
  }

  .clients__item li {
    padding: 1.8rem 2.5rem;
  }

  .btn-sub {
    padding: 1rem 1.5rem;
    border-radius: 28rem;
  }

  .btn-default {
    padding: 1rem 1.5rem;
    border-radius: 28rem;
  }

  .carousel-item img {
    height: 60vh;
  }

  .carousel h1.title {
    font-size: 2.5rem;
  }

  .carousel p.description {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .slide-btn a {
    margin-top: 1.5rem;
  }

  #carouselPrimary ol li {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.8rem;
  }

  #carouselPrimary ol li.active {
    width: 0.5rem;
    height: 0.5rem;
  }

  .btn-pre,
  .btn-next {
    opacity: 0;
    visibility: hidden;
  }

  #carouselPrimary ol {
    padding-bottom: 0;
  }

  header nav.navHeader {
    padding: 1rem 2rem;
  }

}